<header style="background-image: url('<%= community.community_banner %>')">
    <div class="community-info">
        <h1><%= community.community_name %></h1>
        <div class="owner">
            <img class="rounded" width="35" height="35" src="<%= community.owner_pfp %>">
            <p><%= community.owner_username %></p>
        </div>
        <p class="description">
            <%= community.community_description %>
        </p>
    </div>
</header>