<div class="post-preview">
    <div class="community">
        <%= post.community_name %>
    </div>
    <div class="content">
        <div class="author">
            <img width="35px" height="35px" src="<%= post.author_pfp %>"/>
            <%= post.author_username %>
        </div>
        <h3><%= post.post_title %></h3>
    </div>
    <div class="stats">
        <div class="messages">
            <%= post.comments %> <i class="typcn typcn-messages"></i>
        </div>
        <div class="views">
            <%= post.views %> <i class="typcn typcn-eye"></i>
        </div>
        <div class="likes">
            <%= post.likes %> <i class="typcn typcn-thumbs-up"></i>
        </div>
    </div>
</div>