<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: "Community"}) %>
<body>
    <%- include("partials/nav", {user}) %>
    <main class="community-page">
        <%- include("partials/community-page/header", {community}) %>
        <% if(user) { %>
            <button class="primary join-community">Join Community</button>
        <% } %>
        <div class="content">
            <section class="posts">
                <h2>Posts</h2>
                <%- include("partials/filter-posts") %>
                <div class="posts-container">
                    <div class="status"></div>
                    <% community.posts.forEach(post=>{ %>
                        <%- include("partials/community-page/post", {post}) %>
                    <% }) %>
                </div>
            </section>
            <aside>
                Sidebar stuff
            </aside>
        </div>
    </main>
</body>
<%- include("partials/shared-scripts") %>
<script src="/js/community-page.js"></script>
</html>