<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: "Home"}) %>
<body>
    <%- include("partials/nav") %>
    <main class="homepage">
        <%- include("partials/site-news") %>
        <%- include("partials/filter-posts") %>
        <div class="posts">
            <% if(!err) {%>
            <% posts.forEach(post=>{ %>
                <%- include("partials/post-preview", {post})%>
            <%})}%>
            <% if (err){%>
                <%= err %>
            <%}%>
        </div>
    </main>
</body>
<%- include("partials/shared-scripts") %>
<script src="/js/homepage.js"></script>
</html>