<!DOCTYPE html>
<html lang="en">
<head>
    <% let headTitle; %>
    <% if(post) { %>
        <% headTitle = post.post_title %>
    <% } %>
    <%- include("partials/head", {title: headTitle || "Post not found"}) %>
</head>
<body>
    <%- include("partials/nav", {user}) %>
    <main class="post-page">
        <% if(!err){ %>
            <%- include ("partials/post-page/post", {post})%>
            <%- include("partials/post-page/comment-form", {isMember: post.is_member})%>    
            <% if(post) {%>
                <div class="comments">
                    <h3>Comments</h3>
                    <% if(post.comments[0]){ %>
                        <% console.log(post.comments[0]) %>
                        <% post.comments.forEach(comment=>{ %>
                            <%- include("partials/post-page/comment", {comment})%>
                        <% })%>
                    <% } else { %>
                        <p>No comments</p>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </main>
</body>
<%- include("partials/shared-scripts") %>
</html>