<!DOCTYPE html>
<html lang="en">
<head>
    <% let headTitle; %>
    <% if(post) { %>
        <% headTitle = post.post_title %>
    <% } %>
    <%- include("partials/head", {title: headTitle || "Post not found"}) %>
</head>
<body>
    <%- include("partials/nav", {user}) %>
    <main class="post-page">
        <% if(!err){ %>
            <%- include ("partials/post-page/post", {post})%>
            
            <% let canComment = false; %>
            <% if(user) {%>
                <% canComment = post.is_member || user.id == post.community_owner%>
            <% } %>
            <%- include("partials/post-page/comment-form", {canComment, postId: post.post_id})%>    
            
            <% if(post) {%>
                <div class="comments">
                    <h3>Comments <span><%= post.comments.length %></span></h3>
                    <% if(post.comments[0]){ %>
                        <% console.log(post.comments[0]) %>
                        <% post.comments.forEach(comment=>{ %>
                            <%- include("partials/post-page/comment", {comment})%>
                        <% })%>
                    <% } else { %>
                        <p class="no-comments">No comments</p>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </main>
</body>
<%- include("partials/shared-scripts") %>
<script src="/js/post-page.js"></script>
<!-- 
    This will check if the user has viewed the post yet
    If they havent, make an api call to add view to db
-->
<% if(user && post && !post.has_viewed){ %>
    <script defer>
        // only way to pass ejs vars to client js
        let post_id = Number("<%= post.post_id%>");
        sendView(post_id);
    </script>    
<% } %>
</html>